@font-face {
    font-family: 'Smooch_Sans';
    src: url(../../../Fonts/Smooch_Sans/SmoochSans-Thin-100.ttf) format(truetype);
    font-weight: 100;
}
@font-face {
    font-family: 'Smooch_Sans';
    src: url(../../../Fonts/Smooch_Sans/SmoochSans-ExtraLight-200.ttf) format(truetype);
    font-weight: 200;
}
@font-face {
    font-family: 'Smooch_Sans';
    src: url(../../../Fonts/Smooch_Sans/SmoochSans-Light-300.ttf) format(truetype);
    font-weight: 300;
}
@font-face {
    font-family: 'Smooch_Sans';
    src: url(../../../Fonts/Smooch_Sans/SmoochSans-Regular-400.ttf) format(truetype);
    font-weight: 400;
}
@font-face {
    font-family: 'Smooch_Sans';
    src: url(../../../Fonts/Smooch_Sans/SmoochSans-Medium-500.ttf) format(truetype);
    font-weight: 500;
}
@font-face {
    font-family: 'Smooch_Sans';
    src: url(../../../Fonts/Smooch_Sans/SmoochSans-SemiBold-600.ttf) format(truetype);
    font-weight: 600;
}
@font-face {
    font-family: 'Smooch_Sans';
    src: url(../../../Fonts/Smooch_Sans/SmoochSans-Bold-700.ttf) format(truetype);
    font-weight: 700;
}
@font-face {
    font-family: 'Smooch_Sans';
    src: url(../../../Fonts/Smooch_Sans/SmoochSans-ExtraBold-800.ttf) format(truetype);
    font-weight: 800;
}
@font-face {
    font-family: 'Smooch_Sans';
    src: url(../../../Fonts/Smooch_Sans/SmoochSans-Black-900.ttf) format(truetype);
    font-weight: 900;
}
