#Background_Principal {
    background-color: #0F1117;
    padding: 0 0 0 45px;
    font-family: PlexSerif;
    font-size: 16px;
}
#Título {
    text-align: center;
    font-size: 3.5em;
    font-style: none;
    font-weight: 700;
    text-transform: capitalize;
    color: #7DD3FC;
}
.Subtítulos {
    text-align: start;
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
    color: #7DD3FC;
}
.Subtítulos_2 {
    text-align: start;
    font-size: 2.75em;
    font-weight: 500;
    font-style: none;
    text-transform: capitalize;
    color: #38BDF8;
}
.Subtítulos_3 {
    text-align: start;
    font-size: 2.5em;
    font-weight: 400;
    font-style: italic;
    text-transform: capitalize;
    color: #38BDF8;
}
.Párrafos {
    text-align: start;
    font-size: 2em;
    font-weight: 200;
    font-style: normal;
    color: #E8EAED;
}
.Bold {
    text-align: start;
    font-size: 1em;
    font-weight: 600;
    font-style: italic;
    color: #22D3EE;
}
ul ::marker {
    content: "";
}
li {
    margin: 2px 5px;
    padding: 0
}

.Párrafos_Ejemplos {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    font-style: italic;
    color: #94A3B8;
    padding: 20 0 0 0;
}
.Cajas {
    padding: 50px 0;
    margin:auto;
    margin-top: 20px;
    width: 95%;
    height: 120px;
    border-radius: 45px;
    background-color: #000
}